<div class="jumbotron">
	<h1>Progress</h1>
	<p>In just 30 short days and nights of coding, this app should hopefully be looking pretty sweet. This page is a diary of all the high fives and riptides experienced along the way.</p>
		<div class="progress">
  		<div class="progress-bar" role="progressbar" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100" style="width: 98%;">
    	98%
  		</div>
		</div>
	<div class="panel panel-default">
  	<div class="panel-heading">
    	<h3 class="panel-title">High Fives</h3>
  	</div>
  	<div class="panel-body">
    <p>1 September - joining <%= link_to "OneMonth", "https://onemonth.com"%> and taking the <%= link_to "plunge", "https://www.youtube.com/watch?v=kP7w1XYqq0M" %>!</p>
    <p>3 September - joining <%= link_to "GitHub", "https://github.com/" %>.</p>
    <p>6 September - discovering <%= link_to "Flat UI Colours", "http://flatuicolors.com/" %>.</p>
    <p>7 September - live via <%= link_to "Heroku", "http://heroku.com" %>!</p>
    <p>9 September - past the halfway mark!</p>
    <p>11 September - learned that MVC isn't just a games industry trade magazine...</p>
    <p>14 September - added images with paperclip :)</p>
    <p>16 September - building with <%= link_to "jQuery masonry", "http://masonry.desandro.com/" %> for the first time!</p>
    <p>20 September - added names and validations, almost there...</p>
  	</div>
	</div>
	<div class="panel panel-default">
  	<div class="panel-heading">
    	<h3 class="panel-title">Riptides</h3>
  	</div>
  	<div class="panel-body">
    <p>6 September - broken image thumbnails building the progress page :(</p>
    <p>7 September - old devise version led to bcrypt warning / mini stumble.</p>
    <p>14 September - nokogiri gem install error meltdown. Found a simple solution in the <%= link_to "community pages", "http://community.onemonth.com/t/what-was-the-hardest-part-about-one-month-rails/14/4" %> though.</p>
  	</div>
	</div>
</div>


